/* variables*/
$font-stack: 'Oswald',
sans-serif;
$font-size-title: 4rem;
$font-size-text: 1.2rem;

$white: #FFFFFF;
$primary-color: #343837;
$secondary-color: #03719C;
$tertiary-color: #0F9B8E;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
}

h2 {
  margin-top: 0;
  padding-left: 2.2rem;
  font-size: $font-size-title;
  color: $white;
  background: linear-gradient(135deg, rgba($secondary-color, .8), rgba($tertiary-color, .8));
  //margin-top:12rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.0625em;

}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 28px;
}

/* UTILS */

.u-link {
  margin-top: 1rem;
  a {
    color: $tertiary-color;
    padding: 4px 4px 5px 4px;
    transition: all .3s ease;
    margin-top: 1rem;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
      background-color: $tertiary-color;
      color: white;
      text-decoration: none;
    }
  }
}

/* ANIMATIONS */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* navigation*/


#hamburger-menu {
  font-size: 4rem;
  cursor: pointer;
  padding-right: 0.5rem;
  position: fixed;
  z-index: 1;
  width: auto;
  margin-left: 95%;
  color: $primary-color;
}

nav {
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba($secondary-color, .98), rgba($tertiary-color, 1));
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: $font-size-title;
    font-family: $font-stack;
    color: $white;
    display: block;
    transition: 0.3s;

  }

  .sidenav a:hover {
    color: $secondary-color;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 36px;
    margin-left: 50px;
  }

  .closebtn {
    transform: scale(3)
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }
}



/* background image */

.hero-image {
  background-image: url("/img/gamer-monochrome.svg");
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  .hero-text {
    font-family: $font-stack;
    text-align: center;
    font-family: $font-stack;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    &__title {
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
    &__subtitle {
      //letter-spacing: 1.75rem;
      animation: moveInRight 1s ease-out;
    }
  }

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 4rem;
  }
}

.hero-image:before {
  content: '';
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
}


/* Scrollbar custom */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 10px;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  &--small {
    max-width: 65rem;
    margin: 0 auto;
  }
}


.big {
  &__title {
    margin-bottom: 5rem;
    &--margin-top {
      margin: 5rem 0;
    }
  }
}

.small {
  &__title {
    font-size: 1.6rem;
    text-align: center;
  }
}

/* CARDS */

@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(25% - 1em);
  }
}

.card {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  transition: all .3s ease;
  @media screen and (max-width: 960px) {
    margin: 1rem;
    padding: 1rem 2rem;
  }
  &:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
  }
  &__title {
    height: 58px;
  }

  &__img {
    img {
      max-width: 100%;
      height: 150px;
      border-radius: 5px;
      margin: 1rem auto;
    }
  }

  &__tech {
    &--spec {
      border: 1px solid $primary-color;
      color: $primary-color;
      /* margin: 0 1rem; */
      border-radius: 30px;
      padding: 5px 20px;
      margin-right: 5px;
      display: inline-block;
      margin-top: 6px;
    }
  }
}

/* TOOOLS */

.tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin: 10px 0;
}

figure {
  text-align: center;
}
.tool img {
  height: 80px;
  width: 80px;
}

.tools img:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.tools figcaption {
  text-align: center;
}

/* about*/


.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 960px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.flex-wrapper {
  &--1 {
    flex-grow: 1;
  }
  &--2 {
    flex-grow: 2;
    max-width: 40rem;
    padding: 0 2rem;
  }
}
.about {
  &__passiong {
    border-left: 7px solid $secondary-color;
    padding-left: 20px;
    color: $secondary-color;
    font-size: 1.4em;
    font-weight: bold;
  }

  &__img {
    img {
      margin: 2rem;
      width: 210px;
      height: auto;
      @media screen and (min-width: 960px) {
        margin: 2rem 4rem 0 2rem;
      }
    }
  }
}


.focus {
  color: $secondary-color;
}


/* contact */

/* form */

.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:2rem 0 3px 0;
	padding:0px;
  display:block;
  font-size: 1.5rem;
	font-weight: bold;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.8rem;
	margin:0;
	-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 15rem;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: $secondary-color;
  padding: .8rem;
  font-size: 1.5rem;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}

/* FIND ME ON */

.links {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  max-width: 70rem;
  margin: 8rem auto;
  text-align: center;

  @media screen and (max-width: 960px) {
    grid-template-columns: none;
  }

  .link {
    @media screen and (max-width: 960px) {
      margin: 2rem auto;
    }
  }
 
}

.link i {
  transform: scale(5);
  //padding: 1rem 0rem 1rem 2rem;
  color: $secondary-color;
  margin-top: 2rem;
}

.link i:hover {
  transform: scale(5.5) rotate(5deg);
  transition-duration: 0.3s;
}

.stalk {
  text-align: center;
  font-size: 2rem;
}

.button{
  margin-bottom: 4rem;
  padding: 2rem;
  font-family: $font-stack;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid $primary-color;
  background-color: antiquewhite;
  color: $secondary-color;
  
}

.button:hover {
  transform: scale(1.2) rotate(2deg);
  transition-duration: 0.3s;
  color: antiquewhite;
  background-color: lighten($secondary-color, 5%);
}

.fa-paper-plane, .fa-user-circle {
  transform: scale(2);
  padding-right: 1rem;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}




footer {
  text-align: center;
  padding: 0.5rem;
  background: linear-gradient(135deg, rgba($tertiary-color, .7) , rgba($secondary-color, .7));
  margin-top: 15rem;
  color: white;
  > p {
    opacity: 1;
    a {
      color: white;
    }
  }
}

/* responsiveness */

/*smaller screens */
@media screen and (max-width: 1125px) {
  #hamburger-menu {
    margin-left: 90vw;
  }
  #profile img{
    width: 30%;
  }
}

@media screen and (max-width: 750px) {
  #hamburger-menu {
    margin-left: 80vw;
  }
  #profile img{
    width: 60%;
    shape-outside: none;
    margin-right: 10rem;
  }
  
  .form-style-1 {
    margin: auto ;
    max-width: 400px;
  }

  .form-style-1 .field-divided {
    width: 100%;
    margin-top: 1rem !important;
  }
  .tools {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}


/* bigger screens */

@media screen and (min-width: 1125px) {


  .form-style-1 {
    margin:10px auto;
    max-width: 45rem;
    padding: 20px 12px 10px 20px;
  }
} 
